.leaflet-control.directions-control {
  background: rgba(255,255,255,0.97);
  box-shadow: 0 2px 14px rgba(40,40,40,0.14);
  border-radius: 9px;
  max-width: 345px;
  max-height: 220px;
  overflow-y: auto;
  padding: 12px;
  font-size: 1em;
}
.inst-btn {
  box-shadow: 0 2px 10px rgba(0,0,0,0.13);
}
